<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend</title>
    <link rel="stylesheet" href="/css/offline.css">
    <script src="/js/common.js" type="module"></script>
</head>
<body>
    <div class="message">
        <div class="message-content">
            <div class="yol">You're offline :'(</div>
            <div class="info">Please connect to the internet to view this page.</div>
        </div>

        
    </div>
</body>
</html>