<!-- @author: Tyler Semel (tlsemel)-->
<!-- This Create Recipe page allows a user to create a recipe which is
then saved to the user's created recipes folder-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
    <link rel="stylesheet" href="css/createRecipe.css">
</head>
<body>
    <div id="content">
        <div class="sidebar">
            <a href="/home">Home</a>
            <a href="/savedrecipes">Saved Recipes</a>
            <a href="/account/user1">Account</a>
            <a>Notifications</a>
        </div>
        <header>Create Recipe</header>
        <div class="create-recipe-form-container">

            <form class="create-recipe-form">
                <div class="labels-name">
                    <label for="recipe-name">Recipe Name:</label>
                    <input type="text" name="recipe-name" class="recipe-name" required="true">
                </div>
                <div class="labels-time">
                    <label for="time">Time:</label>
                    <input type="text" name="time" class="time" required="true">
                </div>
                <div class="labels-image">
                    <label for="recipe-image">Image(Optional):</label>
                    <br>
                    <img id="preview">
                    <br>
                    <input type="file" class="recipe-image" name="recipe-image" accept="image/*" onchange="previewImage(event)">
                </div>
                <div class="labels-tags">
                    <label for="current-tags">Current Tags:</label>
                    <br>
                    <!-- Will be autofilled with the selections from the dropdown list-->
                    <textarea class="current-tags" name="current-tags"></textarea>
                    <br>
                    <label for="select-tags">Select Tags:</label>
                    <select name="tags" class="tags" value="tag options">
                        <option value="vegetarian">Vegetarian</option>        
                        <option value="vegan">Vegan</option>
                        <option value="gluten-free">Gluten-Free</option>
                        <option value="keto">Keto</option>
                        <option value="under-10-mins">Under 10 mins</option>
                      </select>
                </div>
                <div class="labels-ingredients">
                    <label for="ingredients">Ingredients:</label>
                    <br>
                    <textarea class="ingredients" name="ingredients" required="true"></textarea>
                </div>
                <div class="labels-instructions">
                    <label for="instructions">Instructions:</label>
                    <br>
                    <textarea class="instructions" name="instructions" required="true"></textarea>
                </div>
                <input type="submit" class="create-recipe-submit" name="create-recipe-submit" value="Create Recipe">
            </form>
        </div>
    </div>
    <script>
        const previewImage = e => {
            const reader = new FileReader();
            reader.readAsDataURL(e.target.files[0]);
            reader.onload = () => {
                const preview = document.querySelector('#preview');
                preview.src = reader.result;
            };
        };
    </script>

</body>