<!-- @author: Tyler Semel (tlsemel)-->
<!-- This Create Recipe page allows a user to create a recipe which is
then saved to the user's created recipes folder-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/common.js" type="module"></script>
</head>
<body>
    <header>Recipe Creator</header>
    <div class="content">
        <div>
            <button class="account-button"> Your Account </button>
        </div>
        <div>
            <button class="create-button"> Create Recipe </button>
        </div>
        <div>
            <button class="search-button">Search Recipes</button>
        </div>
        <div>
            <button class="saved-button">Saved Recipes</button>
        </div>
        <div>
            <button class="logout-button">Logout</button>
        </div>
    </div>
</body>
<!-- <script src="/js/common.js" type="module"></script> -->
</html>