<!-- @author: Tyler Semel (tlsemel)-->
<!-- This page servers as a login page for the user. It will be seen once the user clicks the
login option-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div id="content">
        <header>Recipe Creator</header>
        <div class="login-form-container">
            <!--Sending user email and password data with post-->
            <h2>Login</h2>
            <form class="login-form" method="post" action="send" enctype="multipart/form-data">
                <div class="labels">
                    <label for="login-email">Email</label>
                    <input type="email" name="login-email" class="login-email" required="true">
                </div> 
                <div class="labels">
                    <label for="password">Password</label>
                    <input type="password" name="login-password" class="login-password" required="true">
                </div>
                <input type="submit" class="login-submit" value="Login">
            </form>
            <br>
            <div class="account-links">
                <a href="../templates/account/user1.html">Create Account</a>
                <a href="../templates/account/user1.html">Forgot Password?</a>
            </div>
        </div>
    </div>
</body>